	body¨{
			 text-align:center;
			}
			table{
			 width:800px;
	         border:0px;
			}
			#tablapielagosf19{
			height:200px
			}
			#tablapielagosf25{
			background-color:lightgreen;
			width:200px;
			}
			#tablapielagosf3{
			text-align:center;
			padding: 1.5px;
			margin:0px";
			}
			#tablapielagos39{
			
			background-color:lightblue;
			padding:0px;
			}
			#tablapielagos49{
			text-decoration:underline;
			font-size:1.130em;
			padding-top:18px;
			margin-top:0.75px;
			}
			#tablapielagos54{
			font-size:1.130em;
			padding-top:4px;
			margin-top:18px;
			text-align:center;
			}
			#lista1{
			text-align:left
			}
			#tablapielagos83{
			text-decoration:underline;
			font-weight:bold;
			font-style:italic;
			text-align:center;
			}
			#ul1{
			"text-align:left"
			}
			#tablapielagos97{
			font-weight:bold;
			}
			#div1{
			text-align:center;
			}
			#arnia{
			width:350px;
			}
			#ul2{
			text-align:left
			}
			#tablapielagos118{
			font-weight:bold;
			}
			#div2{
			text-align:center;
			}
			#picota{
			width:350px;
			}
			#tablapielagos134{
			text-decoration:underline;
			font-weight:bold;
			font-style:italic;
			text-align:center;
			}
			#gastronomia{
			text-align:left;
			}
			#divgastronomia{
			text-align:center;
			}
			#imagengastro{
			width:350px;
			}
			#tablapielagos153{
			text-decoration:underline;
			font-weight:bold;
			font-style:italic;
			text-align:center;
			}
			#ulhospe{
			text-align:left
			}
			#tablapielagos171{
			font-weight:bold;
			}
			#divcapricho{
			text-align:center;
			}
			#capricho{
			width:350px;
			}
			#tablapielagos188{
			font-weight:bold;
			}
			#divpicota{
			text-align:center;
			}
			#picota{
			width:350px;
			}
			#enlaces{
			text-align:left;
			}
			#ulenlaces{
			text-align:left;
			}
			#información{
			text-align:left;
			}
			#forma{
			text-align:left;
			}
			#todo{
			background:url(Pielagos.jpg);
			vertical-align:top;
			color:greenyellow;
			}
			#ulfinal{
			text-align:left;
			}
			#color{
			greenyellow;
			}